.body{
    background-color: azure;
}
.tilte{
    background-color: #3383FF;
}
md-card.md-default-theme, md-card {
    background-color: orange;
    border-radius: 155px;
}
element.style{
    background-color: rebeccapurple;
}
.backgrounds{
    background-color: rebeccapurple;
}
.cardTwo{
    background-color: orange;
    border-radius: 155px;
}
.textGroup{
    margin-left: 34%;
}
.evilbleererer{
    visibility: hidden;
    height: 100px;
    border:solid;
    background-color: green;
}
.evilName {
    height: 100px;
    border: solid;
    background-color: green;
}
.char{
    position:relative;

}
#evilAvatar{
    width:115px;
    height:115px;
    position: absolute;

}
.evilName{

    margin-top: 77px;
    margin-left: 25px;
    height: 111px;
    width: 77px;

    /*color: #r;*/
}