<div class="md-display-3">Pick You're Fight</div>

<div layout="row" layout-wrap>

    <div flex="20">
    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="width: 111px;height: 111px;">
        <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
    </md-button>
    </div>
    <div flex="20">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div>
    <div flex="20">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div>
    <div flex="20">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div> <div flex="20">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="  ;width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>

    </div> <div flex="15">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style=" margin-left:66%; width:111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div> <div flex="20">
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="margin-left:77%; width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div> <div flex="20">
        <md-button class="md-fab md-mini md-primary" md-whiteframe="24" aria-label="Use Android" style="margin-left: 77%;width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div>







    <br>
    <div flex="20">
        <md-button ng-disabled="notLocked" class="md-fab md-mini md-primary" md-whiteframe="24" aria-label="Use Android" style="margin-left: 77%;width: 111px;height: 111px;">
            <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
    </div>
    </div>
    <!--<md-fab-speed-dial md-open="vm.isOpen" md-direction="{{vm.selectedDirection}}" ng-class="vm.selectedMode">-->
        <!--<md-fab-trigger>-->
            <!--<div flex="20">-->
                <!--<md-button class="md-fab md-mini md-primary" md-whiteframe="24" aria-label="Use Android" style="width: 111px;height: 111px;">-->
                    <!--<md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</md-fab-trigger>-->

        <!--<md-fab-actions>-->
            <!--<div model="pullDown">-->
                <!--<p class="evilbleererer" ng-hide="name" model="name">Name:Nemo</h4>-->
                <!--<p class="evilName" model="diffuclty"><br><br><br> Level:1<br> Name:Nemo</p>-->
            <!--</div>-->
        <!--</md-fab-actions>-->
    <!--</md-fab-speed-dial>-->
<!--<div class="char">-->
    <!--<md-button  class="md-fab md-mini md-primary" id="evilAvatar"  aria-label="Use Android">-->
        <!--<md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>-->
    <!--</md-button>-->
    <!--<p class="evilName" model="diffuclty"><br><br><br> Level:{{diffculty}}<br> Name:{{name}}</p>-->

<!--</div>-->
</div>






<!--<div>-->

    <!--<table ng-mouseleave="$ctrl.row=-1">-->
        <!--<tr ng-mouseover="$ctrl.row=-1" >-->
            <!--<th>#</th>-->
            <!--&lt;!&ndash;<th ng-repeat="col in $ctrl.columns" ng-click="$ctrl.sort(col)" class="sortable"&ndash;&gt;-->
            <!--&lt;!&ndash;ng-class="$ctrl.orderBy.indexOf(col) > -1 ? $ctrl.sortClass : 'sort-none'">{{ col | uppercase }}</th>&ndash;&gt;-->
        <!--</tr>-->

        <!--<tr ng-repeat="evilDwelers in $ctrl.evilDwelers | filter:$ctrl.searchText | orderBy: $ctrl.orderBy">-->
            <!--<td>{{ $index+1 }}</td>-->
            <!--<td>{{ evilDwelers.name }}</td>-->

        <!--</tr>-->
    <!--</table>-->
<!--</div>-->