<md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >

    <jk-carousel
            data="vm.dataArray"
            item-template-url="'Templates/item-template.html'"
            max-width="800"
            max-height="277"
            auto-slide="true"
            auto-slide-time="3000" >
    </jk-carousel>

</md-card>
<md-card>
    <md-content>
        <h2>Description</h2>
        matc spring 2016 group webAppGame
        <h2>Team Members:</h2>
        <ul>
            <li>
                Ty Thornton
            </li>
            <li>
                Andre Morales
            </li>
            <li>
                Garrett Brinkman
            </li>
        </ul>
    </md-content>
</md-card>